:root {
  --roxo: #d645ff;
  --roxo-2: #cb15ff;
  --branco: #ffffff;
  --amarelo: #ffcc00;
  --preto-claro: #0000004f;
}

.container-ingresso {
  width: 100%;
  height: 100%;
}

.ingresso {
  width: 100%;
  max-width: 300px;
}
.ingresso {
  border-radius: 20px 20px 0px 0px;
  box-shadow: 4px 3px 6px -1px var(--preto-claro);
}
.ingresso > div{
    margin-bottom: 5px;
}
.ingresso .imagem-ingresso {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
}
.comprar-ingresso{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-comprar{
    display: flex;
    justify-content: flex-end;
}
.titulo-ingresso{
    width: 100%;
    text-align: center;
    color: var(--roxo);
}
header {
  width: 100%;
  height: 13vh;
  background-color: var(--roxo);
  display: flex;
  justify-content: center;
}
.links a {
  padding: 5px;
  margin-right: 15px;
  text-decoration: none;
  color: var(--branco);
  background-color: var(--roxo-2);
  border-radius: 10px;
}
img {
  height: 70px;
}

.header {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.titulo h1 {
  width: 100%;
  max-width: 400px;
  background-color: var(--roxo);
  color: var(--branco);
  border-radius: 5px;
  text-align: center;
}

.icones {
  height: 20px;
}
#btn-comprar {
  background-color: var(--amarelo);
  color: var(--branco);
  border-radius: 10px;
  padding: 5px;
  border: none;
  margin: 0px 3 px 3px 3px;
}
